header{
    padding: 1rem;
    background-color: $white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    display:flex;
    justify-content:center;
    .header-wrap{
        display: flex;
        justify-content: space-between;
        align-items:center;
        .heading{
            font-size: 26px;
            font-weight: 500;
            margin: 0;
        }
    }
}